<div class="mt-5">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8 col-sm-6">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h1>{{recipe?.title}}</h1>
                            <br>
                            <p>Autor: {{recipe?.userLogin}}</p>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row justify-content-center">
                        <div *jhiHasAnyAuthority="'ROLE_USER'">
                            <star-rating [value]="recipe?.rate" checkedcolor="red" uncheckedcolor="black" size="24px"
                                         [readonly]="account?.login === 'anonymoususer'"
                                         (rate)="onRate($event)"></star-rating>
                        </div>
                        <div *jhiHasNotAnyAuthority="'ROLE_USER'">
                            <star-rating [value]="recipe?.rate" checkedcolor="red" uncheckedcolor="black"
                                         size="24px"></star-rating>
                        </div>
                        <div *jhiHasAnyAuthority="'ROLE_USER'">
                            <button mat-icon-button *ngIf="!recipeLiked" (click)="openDialog()">
                                <mat-icon>favorite</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" *ngIf="recipeLiked" (click)="openDialog()">
                                <mat-icon>favorite</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row justify-content-center text-center">
                        <p>
                            <label>
                                <fa-icon icon="clock"></fa-icon>
                                {{recipe?.preparationTime.quantity}} min.
                            </label>

                            <fa-icon icon="user"></fa-icon>
                            {{recipe?.portions}} <label *ngIf="recipe?.portions === 1">porcja</label>
                            <label *ngIf="recipe?.portions >= 2 && recipe?.portions < 5">porcje</label>
                            <label *ngIf="recipe?.portions >= 5">porcji</label>
                            <br>
                            <label *ngIf="recipe?.difficultyLevel === 'EASY'">
                                <fa-icon icon="thermometer-empty"></fa-icon>
                                Łatwe
                            </label><label *ngIf="recipe?.difficultyLevel === 'MEDIUM'">
                            <fa-icon icon="thermometer-half"></fa-icon>
                            Nietrudne
                        </label><label *ngIf="recipe?.difficultyLevel === 'DIFFICULT'">
                            <fa-icon icon="thermometer-full"></fa-icon>
                            Trudne
                        </label>

                            <fa-icon icon="money-bill"></fa-icon>
                            <label *ngIf="recipe?.expense === 'CHEAP'">Tanie</label>
                            <label *ngIf="recipe?.expense === 'MEDIUM'">Niedrogie</label>
                            <label *ngIf="recipe?.expense === 'EXPENSIVE'">Drogie</label>

                            <br> <br>
                            Kategoria: <a
                            (click)="search(recipe?.categories[0].name)"><i>{{recipe?.categories[0].name}}</i></a>
                        </p>
                    </div>
                    <div class="row"><br></div>

                    <div class="row justify-content-center">
                        <div>
                            <button type="button" class="btn btn-outline-secondary" (click)="generatePdf('print')">Wydrukuj</button>
                            <button type="button" class="btn btn-outline-secondary" (click)="generatePdf()">Zapisz PDF</button>
                        </div>
                        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <button type="button" class="btn btn-outline-danger ml-1" (click)="remove()">Usuń przepis</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div *ngIf="recipe">
                        <img *ngIf="recipe.photoPath === null" class="card-img-top"
                             src="../../../content/images/no-image.jpg"
                             alt="Card image cap" width="200" height="400">
                        <img *ngIf="recipe.photoPath" class="card-img-top"
                             src="{{downloadUrl}}{{recipe?.photoPath}}"
                             alt="Card image cap" width="200" height="400">
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><br><br></div>
    <div class="row mx-5">
        <div class="col-12">
            <div class="row">
                <div class="col-4 col-sm-4">
                    <div class="row">
                        <h4>Składniki</h4>
                    </div>
                    <div class="row">
                        <table class="table table-hover">
                            <tbody>
                            <tr *ngFor="let recipeIngredient of recipe?.recipeIngredients">
                                <td>{{recipeIngredient.ingredient.name}}</td>
                                <td>{{recipeIngredient.quantity}} {{recipeIngredient.measure.type}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-1 col-sm-1"></div>
                <div class="col-7">
                    <div class="row">
                        <h4>Sposób przygotowania</h4>
                    </div>
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="media my-4" *ngFor="let step of recipe?.steps; let i = index">
                                <img *ngIf="step?.photo" class="mr-3" src="{{downloadUrl}}{{step?.photo}}"
                                     width="120"
                                     height="80" alt="Step photo">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Krok {{i + 1}}</h5>
                                    {{step?.description}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row" *ngIf="recipe?.videoPath">
                        <iframe width="420" height="345" [src]="recipe?.videoPath | safe"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><br><br></div>
    <div class="row mx-5">
        <mat-chip-list>
            <mat-chip *ngFor="let keyword of recipe?.keywords"><a (click)="search(keyword.name)">{{keyword.name}}</a>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="row"><br><br></div>
    <div class="row mx-xl-5" *ngIf="recipe">
        <div class="col-1"></div>
        <div class="col-10">
            <jhi-recipes-comments [recipe]="recipe"></jhi-recipes-comments>
        </div>
        <div class="col-1"></div>
    </div>

</div>
