<span class="badge badge-pill badge-secondary" *ngIf="type === 'PRIVATE'">Prywatny</span>
<span class="badge badge-pill badge-primary" *ngIf="type === 'PUBLIC'">Publiczny</span>
<span class="badge badge-pill badge-warning" *ngIf="type === 'QUESTION'">Pytanie</span>
<span class="badge badge-pill badge-info" *ngIf="type === 'OPINION'">Opinia</span>
<span class="badge badge-pill badge-success" *ngIf="type === 'ADVICE'">Porada</span>
