<div class="input-group">
    <input type="text" class="form-control" placeholder="Wyszukaj" (keyup.enter)="search()" [(ngModel)]="parameters">
    <div class="input-group-append">
        <button class="btn btn-outline-light" type="button" (click)="search()">
            <fa-icon icon="search"></fa-icon>
        </button>
    </div>
</div>
