<h2>Listy ulubionych</h2>
<div class="mx-3 my-4">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="card w-100 min-height">
                    <div class="card-header p-2">
                        Twoje listy ulubionych przepisów ({{favourites?.length}})
                    </div>
                    <div class="card-body text-dark d-flex flex-column">
                        <ul class="list-unstyled" *ngIf="favourites?.length > 0">
                            <li class="media" *ngFor="let favourite of favourites" >
                                <button type="button" class="btn btn-light w-100 my-2" (click)="setSelected(favourite)">
                                    {{favourite.name}}
                                </button>
                                <div class="float-right">
                                    <div class="align-right mr-3">
                                        <button type="button" class="btn btn-light w-15 my-2" (click)="removeFavourite(favourite)">
                                            <fa-icon icon="trash-alt"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div *ngIf="favourites?.length === 0" >
                            Nie posiadasz żadnych list ulubionych.
                        </div>
                        <div class="w-75 mt-auto">
                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#addNew">
                                <fa-icon icon="plus"></fa-icon> Dodaj nową listę
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div *ngIf="selectedFavourite">
                <jhi-favourites-list-details [favourite]="selectedFavourite"></jhi-favourites-list-details>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dodaj nową listę ulubionych</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-control-label">Nazwa</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="newListName" minlength="3" required>
                    <div *ngIf="!newListName">
                        <small class="form-text text-danger">
                            Nazwa musi składać się z minimum 3 znaków.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Opis</label>
                    <textarea class="form-control" aria-label="Opis" [(ngModel)]="newListDescription" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-secondary" [disabled]="!newListName" data-dismiss="modal" (click)="addNewList()">
                    Zapisz
                </button>
            </div>
        </div>
    </div>
</div>
