<h5 mat-dialog-title>
    Dodaj przepis do listy
    <button type="button" class="close" (click)="onNoClick()">
        <span aria-hidden="true">&times;</span>
    </button>
</h5>
<div mat-dialog-content>

    <div class="form-group">
        <div class="form-group" *ngIf="favourites?.length > 0">
            <label for="langKey">Lista ulubionych</label>
            <select class="form-control" id="langKey" name="langKey" [(ngModel)]="selectedFav">
                <option *ngFor="let fav of favourites" [value]="fav.id">{{fav.name}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="favourites?.length === 0">
            <p>Nie posiadasz żadnych list ulubionych do których można dodać przepis.</p>
            <div class="w-75 mt-auto">
                <button type="button" class="btn btn-outline-secondary" (click)="goToNewList()" [mat-dialog-close]="false">
                    <fa-icon icon="plus"></fa-icon> Dodaj nową listę
                </button>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-right" *ngIf="favourites?.length > 0">
    <button type="button" class="btn btn-secondary p-2" (click)="addToList()" [mat-dialog-close]="true" [disabled]="!selectedFav">Zapisz</button>
</div>
