<h2>Lista przepisów z: {{params}}</h2>
<br>
<div *ngIf="recipes?.length > 0">
    <div *ngFor="let recipe of recipes; let i = index">
        <div *ngIf="i % 4 == 0" class="row">
            <div class="col-sm-3" *ngIf="recipes[i]">
                <div class="card">
                    <img *ngIf="recipes[i].photoPath === null" class="card-img-top"
                         src="../../../content/images/no-image.jpg"
                         alt="Card image cap" width="400" height="200">
                    <img *ngIf="recipes[i].photoPath" class="card-img-top"
                         src="{{downloadUrl}}{{recipes[i].photoPath}}"
                         alt="Card image cap" width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title"><a (click)="goToDetails(recipes[i].id)">{{recipes[i]?.title}}</a></h5>
                        <p>
                            <fa-icon icon="clock"></fa-icon>
                            {{recipes[i]?.preparationTime.quantity}} min.
                            <fa-icon icon="user"></fa-icon>
                            {{recipes[i]?.portions}} <label *ngIf="recipes[i]?.portions === 1">porcja</label>
                            <label *ngIf="recipes[i]?.portions >= 2 && recipes[i]?.portions < 5">porcje</label>
                            <label *ngIf="recipes[i]?.portions >= 5">porcji</label>
                        </p>
                        <button class="btn btn-outline-secondary" (click)="goToDetails(recipes[i].id)">
                            Sprawdź
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" *ngIf="recipes[i+1]">
                <div class="card">
                    <img *ngIf="recipes[i+1].photoPath === null" class="card-img-top"
                         src="../../../content/images/no-image.jpg"
                         alt="Card image cap" width="400" height="200">
                    <img *ngIf="recipes[i+1].photoPath" class="card-img-top"
                         src="{{downloadUrl}}{{recipes[i+1].photoPath}}"
                         alt="Card image cap" width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title"><a (click)="goToDetails(recipes[i+1].id)">{{recipes[i + 1]?.title}}</a></h5>
                        <p>
                            <fa-icon icon="clock"></fa-icon>
                            {{recipes[i + 1]?.preparationTime.quantity}} min.
                            <fa-icon icon="user"></fa-icon>
                            {{recipes[i + 1]?.portions}} <label *ngIf="recipes[i+1]?.portions === 1">porcja</label>
                            <label *ngIf="recipes[i+1]?.portions >= 2 && recipes[i+1]?.portions < 5">porcje</label>
                            <label *ngIf="recipes[i+1]?.portions >= 5">porcji</label>
                        </p>
                        <button class="btn btn-outline-secondary" (click)="goToDetails(recipes[i+1].id)">
                            Sprawdź
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" *ngIf="recipes[i+2]">
                <div class="card">
                    <img *ngIf="recipes[i+2].photoPath === null" class="card-img-top"
                         src="../../../content/images/no-image.jpg"
                         alt="Card image cap" width="400" height="200">
                    <img *ngIf="recipes[i+2].photoPath" class="card-img-top"
                         src="{{downloadUrl}}{{recipes[i+2].photoPath}}"
                         alt="Card image cap" width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title"><a (click)="goToDetails(recipes[i+2].id)">{{recipes[i + 2]?.title}}</a></h5>
                        <p>
                            <fa-icon icon="clock"></fa-icon>
                            {{recipes[i + 2]?.preparationTime.quantity}} min.
                            <fa-icon icon="user"></fa-icon>
                            {{recipes[i + 2]?.portions}} <label *ngIf="recipes[i+2]?.portions === 1">porcja</label>
                            <label *ngIf="recipes[i+2]?.portions >= 2 && recipes[i+2]?.portions < 5">porcje</label>
                            <label *ngIf="recipes[i+2]?.portions >= 5">porcji</label>
                        </p>
                        <button class="btn btn-outline-secondary" (click)="goToDetails(recipes[i+2].id)">
                            Sprawdź
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" *ngIf="recipes[i+3]">
                <div class="card">
                    <img *ngIf="recipes[i+3].photoPath === null" class="card-img-top"
                         src="../../../content/images/no-image.jpg"
                         alt="Card image cap" width="400" height="200">
                    <img *ngIf="recipes[i+3].photoPath" class="card-img-top"
                         src="{{downloadUrl}}{{recipes[i+3].photoPath}}"
                         alt="Card image cap" width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title"><a (click)="goToDetails(recipes[i+3].id)">{{recipes[i + 3]?.title}}</a></h5>
                        <p>
                            <fa-icon icon="clock"></fa-icon>
                            {{recipes[i + 3]?.preparationTime.quantity}} min.
                            <fa-icon icon="user"></fa-icon>
                            {{recipes[i + 3]?.portions}} <label *ngIf="recipes[i+3]?.portions === 1">porcja</label>
                            <label *ngIf="recipes[i+3]?.portions >= 2 && recipes[i+3]?.portions < 5">porcje</label>
                            <label *ngIf="recipes[i+3]?.portions >= 5">porcji</label>
                        </p>
                        <button class="btn btn-outline-secondary" (click)="goToDetails(recipes[i+3].id)">
                            Sprawdź
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="i % 4 == 0" class="row">
            <br>
        </div>

    </div>
</div>
<div *ngIf="recipes?.length === 0">
    <h4>Brak przepisów!</h4>
</div>
