<div class="card w-100 min-height">
    <div class="p-2">
        <h3>{{favourite.name}}</h3>
        <h6 *ngIf="favourite.description">{{favourite.description}}</h6>
    </div>
    <div class="card-body text-dark">
        <div *ngIf="favourite.recipes?.length > 0">
            <div *ngFor="let recipe of favourite.recipes; let i = index">
                <div *ngIf="i % 4 == 0" class="row">
                    <div class="col-sm-3" *ngIf="favourite.recipes[i]">
                        <div class="card">
                            <button type="button" class="btn btn-sm btn-danger btn-on-image" (click)="removeFromList(favourite.recipes[i])">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                            <img *ngIf="favourite.recipes[i].photoPath === null" class="card-img-top"
                                 src="../../../../content/images/no-image.jpg"
                                 alt="Card image cap" width="400" height="200">
                            <img *ngIf="favourite.recipes[i].photoPath" class="card-img-top"
                                 src="{{downloadUrl}}{{favourite.recipes[i].photoPath}}"
                                 alt="Card image cap" width="400" height="200">
                            <div class="card-body">
                                <h5 class="card-title"><a (click)="goToDetails(favourite.recipes[i].id)">{{favourite.recipes[i]?.title}}</a>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3" *ngIf="favourite.recipes[i+1]">
                        <div class="card">
                            <button type="button" class="btn btn-sm btn-danger btn-on-image" (click)="removeFromList(favourite.recipes[i+1])">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                            <img *ngIf="favourite.recipes[i+1].photoPath === null" class="card-img-top"
                                 src="../../../../content/images/no-image.jpg"
                                 alt="Card image cap" width="400" height="200">
                            <img *ngIf="favourite.recipes[i+1].photoPath" class="card-img-top"
                                 src="{{downloadUrl}}{{favourite.recipes[i+1].photoPath}}"
                                 alt="Card image cap" width="400" height="200">
                            <div class="card-body">
                                <h5 class="card-title"><a (click)="goToDetails(favourite.recipes[i+1].id)">{{favourite.recipes[i + 1]?.title}}</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3" *ngIf="favourite.recipes[i+2]">
                        <div class="card">
                            <button type="button" class="btn btn-sm btn-danger btn-on-image" (click)="removeFromList(favourite.recipes[i+2])">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                            <img *ngIf="favourite.recipes[i+2].photoPath === null" class="card-img-top"
                                 src="../../../../content/images/no-image.jpg"
                                 alt="Card image cap" width="400" height="200">
                            <img *ngIf="favourite.recipes[i+2].photoPath" class="card-img-top"
                                 src="{{downloadUrl}}{{favourite.recipes[i+2].photoPath}}"
                                 alt="Card image cap" width="400" height="200">
                            <div class="card-body">
                                <h5 class="card-title"><a (click)="goToDetails(favourite.recipes[i+2].id)">{{favourite.recipes[i + 2]?.title}}</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3" *ngIf="favourite.recipes[i+3]">
                        <div class="card">
                            <button type="button" class="btn btn-sm btn-danger btn-on-image" (click)="removeFromList(favourite.recipes[i+3])">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                            <img *ngIf="favourite.recipes[i+3].photoPath === null" class="card-img-top"
                                 src="../../../../content/images/no-image.jpg"
                                 alt="Card image cap" width="400" height="200">
                            <img *ngIf="favourite.recipes[i+3].photoPath" class="card-img-top"
                                 src="{{downloadUrl}}{{favourite.recipes[i+3].photoPath}}"
                                 alt="Card image cap" width="400" height="200">
                            <div class="card-body">
                                <h5 class="card-title"><a (click)="goToDetails(favourite.recipes[i+3].id)">{{favourite.recipes[i + 3]?.title}}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="i % 4 == 0" class="row">
                    <br>
                </div>

            </div>
        </div>
        <div *ngIf="favourite.recipes?.length === 0">
            <h4>Brak przepisów!</h4>
        </div>

    </div>
</div>
