.mat-form-field {
    width: 100%;
}

::ng-deep {
    .ng5-slider .ng5-slider-tick-legend {
        max-width: 100px !important;
    }
}

.mat-input-element {
    height: 19px;
}

#wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}
#stepWrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.example-chip-list {
    width: 100%;
}

::ng-deep .ng5-slider-span .ng5-slider-pointer .ng5-slider-pointer-min {
    background-color: #6c757d !important;
}
