<div class="m-5 pb-5">
    <h2>Dodaj przepis</h2>
    <div>
        <mat-horizontal-stepper [linear]=true #stepper>
            <mat-step [stepControl]="generalInfo">
                <form [formGroup]="generalInfo">
                    <ng-template matStepLabel>Ogólne informacje</ng-template>
                    <div class="container justify-content-md-center">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <div class="form-group">
                                    <mat-form-field>
                                        <label for="name">Wpisz nazwę przepisu</label>
                                        <input matInput class="form-control" formControlName="name" id="name" required
                                               [(ngModel)]="title">
                                        <mat-hint>np. Naleśniki z serem</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <label for="category">Wybierz kategorię przepisu</label>
                                <mat-form-field>
                                    <mat-select formControlName="category" #singleSelect id="category"
                                                [(value)]="category">
                                        <ngx-mat-select-search [formControl]="categoryFilterCtrl"
                                                               [placeholderLabel]="'Wyszukaj...'"
                                                               [noEntriesFoundLabel]="'Brak kategorii'">
                                            <fa-icon [icon]="'trash'" ngxMatSelectSearchClear></fa-icon>
                                        </ngx-mat-select-search>
                                        <mat-option *ngFor="let c of filteredCategories | async" [value]="c">
                                            {{c.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <label for="time">Wybierz czas przygotowania</label>
                                <mat-form-field>
                                    <mat-select id="time" formControlName="time" [(value)]="preparationTime">
                                        <mat-option [value]="15">15 min.</mat-option>
                                        <mat-option [value]="30">30 min.</mat-option>
                                        <mat-option [value]="45">45 min.</mat-option>
                                        <mat-option [value]="60">60 min.</mat-option>
                                        <mat-option [value]="90">90 min.</mat-option>
                                        <mat-option [value]="120">120 min.</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <mat-form-field class="example-chip-list">
                                    <mat-chip-list #keywordsList aria-label="Słowa kluczowe">
                                        <mat-chip *ngFor="let keyword of keywords" [selectable]=true
                                                  [removable]=true (removed)="removeKeyword(keyword)">
                                            {{keyword}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="Podaj słowa kluczowe"
                                               [matChipInputFor]="keywordsList"
                                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                               [matChipInputAddOnBlur]=true
                                               (matChipInputTokenEnd)="addKeyword($event)">
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>

                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="difficulty-slider col-12">
                                    <label for="diff-slider">Określ poziom trudności</label>
                                    <ng5-slider class="difficulty-slider slider" [(value)]="difficultyLevel"
                                                [options]="difficultyLevelEnum" id="diff-slider" required></ng5-slider>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="difficulty-slider col-12">
                                    <label for="price-slider">Określ koszt potrawy</label>
                                    <ng5-slider class="difficulty-slider" [(value)]="priceLevel"
                                                [options]="priceLevelEnum" id="price-slider" required></ng5-slider>
                                </div>
                            </div>
                        </div>
                        <br> <br> <br>
                        <div class="row justify-content-center">
                            <div class="difficulty-slider col-8">
                                <label for="port-slider">Określ liczbę porcji</label>
                                <br>
                                <ng5-slider class="difficulty-slider" [(value)]="portions" [options]="portionsEnum"
                                            id="port-slider" required></ng5-slider>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-end">
                        <button class="btn btn-outline-secondary" type="button" matStepperNext>Dalej</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="ingredientGroup">
                <form [formGroup]="ingredientGroup">
                    <ng-template matStepLabel>Składniki</ng-template>
                    <div class="container justify-content-md-center">
                        <div class="row justify-content-center" *ngFor="let recipeIngredient of recipeIngredients">
                            <div class="col-4">
                                <label for="category">Wybierz składnik potrawy</label>
                                <br>
                                <mat-form-field>
                                    <mat-select [formControlName]="'in' + recipeIngredient.id" #singleSelect
                                                id="ingredient" [(ngModel)]="recipeIngredient.ingredient">
                                        <jhi-mat-select-search [formControl]="ingredientFilterCtrl"
                                                               [typeOfSearchObject]="'ingredient'"
                                                               (ingredientAdded)="ingredientAdded(recipeIngredient, $event)"></jhi-mat-select-search>
                                        <mat-option *ngFor="let c of filteredIngredients | async" [value]="c">
                                            {{c.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <label for="ingVal">Ilość</label>
                                <mat-form-field>
                                    <input type="number" matInput [formControlName]="'meVal' + recipeIngredient.id"
                                           class="form-control" id="ingVal"
                                           (input)="onMeasureValueChange($event.target.value, recipeIngredient)">
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <label for="time">Jednostka</label>
                                <mat-form-field>
                                    <mat-select id="measure" [formControlName]="'me' + recipeIngredient.id"
                                                [(value)]="recipeIngredient.measure">
                                        <mat-option *ngFor="let m of measures" [value]="m">{{m.type}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-1" id="wrapper">
                                <button class="btn btn-outline-secondary" type="button" (click)="removeIngredient(recipeIngredient.id)">
                                    <fa-icon [icon]="'trash'" [size]="'lg'"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-2">
                                <button class="btn btn-outline-secondary" type="button" (click)="addIngredient()">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    Dodaj składnik
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <button class="btn btn-outline-secondary" type="button" matStepperPrevious>Cofnij</button>
                        <br>
                        <button class="btn btn-outline-secondary" type="button" matStepperNext
                                [disabled]="recipeIngredients.length < 1">Dalej
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="stepsGroup">
                <form [formGroup]="stepsGroup">
                    <ng-template matStepLabel>Sposób przygotowania</ng-template>
                    <div class="container justify-content-md-center">
                        <div class="row justify-content-center" *ngFor="let recipeStep of recipeSteps">
                            <div class="col-8">
                                <label for="step">Krok {{recipeStep.sortableNumber}}</label>
                                <br>
                                <mat-form-field>
                                    <input matInput [formControlName]="'step' + recipeStep.sortableNumber"
                                           class="form-control" id="step"
                                           (input)="onStepValueChange($event.target.value, recipeStep)">
                                </mat-form-field>
                            </div>
                            <div class="col-2" id="stepWrapper">
                                <div *ngIf="recipeStep.sortableNumber == stepIndex - 1">
                                    <button class="btn btn-outline-secondary" type="button" (click)="removeStep(recipeStep.sortableNumber)">
                                        <fa-icon [icon]="'trash'" [size]="'lg'"></fa-icon>
                                    </button>
                                </div>
                                <div>
                                    <button class="btn btn-outline-secondary" type="button" (click)="fileInput.click()">
                                        <fa-icon [icon]="'image'" [size]="'lg'"></fa-icon>
                                        <input #fileInput type="file" (change)="fileProgress($event, recipeStep)"
                                               style="display:none;" accept="image/*"/>
                                    </button>
                                </div>
                                <div class="image-preview" *ngIf="recipeStep.previewUrl">
                                    <br>
                                    <img [src]="recipeStep.previewUrl" height="45"/>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-2">
                                <button class="btn btn-outline-secondary" type="button" (click)="addStep()">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    Kolejny krok
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <button class="btn btn-outline-secondary" type="button" matStepperPrevious>Cofnij</button>
                            <br>
                            <button class="btn btn-outline-secondary" type="button" matStepperNext
                                    [disabled]="recipeSteps.length < 1">Dalej
                            </button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <form>
                    <ng-template matStepLabel>Zdjęcie</ng-template>
                    <div class="container justify-content-md-center">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <mat-radio-group
                                    class="example-radio-group" [(ngModel)]="photo"
                                    [ngModelOptions]="{standalone: true}">
                                    <mat-radio-button class="example-radio-button" [value]="'tak'">Chcę dodać zdjęcie z
                                        dysku
                                    </mat-radio-button>
                                    <br>
                                    <mat-radio-button class="example-radio-button" [value]="'nie'"
                                                      [checked]="photo === 'nie'">Nie posiadam zdjęcia do przepisu
                                    </mat-radio-button>
                                </mat-radio-group>

                                <div *ngIf="photo == 'tak'">
                                    <div>
                                        <button class="btn btn-outline-secondary" type="button" (click)="photo.click()">
                                            <fa-icon [icon]="'image'" [size]="'lg'"></fa-icon>
                                            <span>Dodaj zdjęcie</span>
                                            <input #photo type="file" (change)="addPhoto($event)" style="display:none;"
                                                   accept="image/*"/>
                                        </button>
                                    </div>
                                    <div class="image-preview" *ngIf="previewUrl">
                                        <br>
                                        <img [src]="previewUrl" height="400"/>
                                    </div>
                                    <br>
                                </div>
                                <div>
                                    <br> <br>
                                    <mat-radio-group
                                        class="example-radio-group" [(ngModel)]="video"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-radio-button class="example-radio-button" [value]="'tak'">Chcę dodać link z
                                            YouTube
                                        </mat-radio-button>
                                        <br>
                                        <mat-radio-button class="example-radio-button" [value]="'nie'"
                                                          [checked]="video === 'nie'">Nie posiadam filmu do przepisu
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <div *ngIf="video == 'tak'">
                                        <div>
                                            <mat-form-field>
                                                <input matInput id="youtube" (change)="addVideoLink($event)">
                                            </mat-form-field>
                                        </div>

                                        <div class="image-preview" *ngIf="videoLink">
                                            <br>
                                            <iframe width="420" height="345" [src]="videoLink | safe">
                                            </iframe>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <button class="btn btn-outline-secondary" type="button" matStepperPrevious>Cofnij</button>
                            <br>
                            <button class="btn btn-outline-secondary" type="button" (click)="save()">Zapisz</button>
                        </div>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
