<nav class="navbar navbar-dark navbar-expand-md bg-secondary">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span class="navbar-title">Przepysznik</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <jhi-search></jhi-search>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle (click)="collapseNavbar()" id="recipes-menu">
                    <span>
                        <fa-icon icon="clock"></fa-icon>
                        <span>Posiłki</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="recipes-menu">
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/sniadania" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="apple-alt" fixedWidth="true"></fa-icon>
                            <span>Śniadania</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/lunche" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="carrot" fixedWidth="true"></fa-icon>
                            <span>Lunche</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/zupy" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="mug-hot" fixedWidth="true"></fa-icon>
                            <span>Zupy</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/salatki" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="leaf" fixedWidth="true"></fa-icon>
                            <span>Sałatki</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/surowki" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="pepper-hot" fixedWidth="true"></fa-icon>
                            <span>Surówki</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/makarony" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="burn" fixedWidth="true"></fa-icon>
                            <span>Makarony</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/dania-glowne" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="drumstick-bite" fixedWidth="true"></fa-icon>
                            <span>Dania główne</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/podwieczorki" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="pizza-slice" fixedWidth="true"></fa-icon>
                            <span>Podwieczorki</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/napoje" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="cocktail" fixedWidth="true"></fa-icon>
                            <span>Napoje</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/kolacje" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bread-slice" fixedWidth="true"></fa-icon>
                            <span>Kolacje</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/desery" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="cookie-bite" fixedWidth="true"></fa-icon>
                            <span>Desery</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_USER'" ngbDropdown class="nav-item pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="rekomendacje" id="recommendations">
                    <span>
                        <fa-icon icon="lightbulb"></fa-icon>
                        <span>
                            Rekomendacje
                        </span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_USER'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="recipe-book">
                    <span>
                        <fa-icon icon="book"></fa-icon>
                        <span>Książka kucharska</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="database-menu">
                    <li>
                        <a class="dropdown-item" routerLink="przepisy/dodaj" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="plus-square" fixedWidth="true"></fa-icon>
                            <span>Dodaj przepis</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="ulubione/listy" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bookmark" fixedWidth="true"></fa-icon>
                            <span>Listy ulubionych</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
<!--                    <li>-->
<!--                        <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="heart" fixedWidth="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.admin.health">Health</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="list" fixedWidth="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="bell" fixedWidth="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.admin.audits">Audits</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.admin.logs">Logs</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *jhiHasAnyAuthority="'ROLE_USER'">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_USER'">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_USER'">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *jhiHasNotAnyAuthority="'ROLE_USER'">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *jhiHasNotAnyAuthority="'ROLE_USER'">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
