<div class="row d-none d-lg-block">
    <div class="col-sm-12 px-3">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <img style="width: 100%; height: auto" src="../../content/images/home/foto2.jpg" alt="zupy">
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img style="width: 100%; height: auto" src="../../content/images/home/foto3.jpg" alt="salatki">
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img style="width: 100%; height: auto" src="../../content/images/home/foto4.jpg" alt="desery">
                <div class="carousel-caption">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
<br>
<br>
<div>
    <div *ngFor="let recipe of recipes; let i = index">
        <div *ngIf="i % 4 == 0" class="row">
            <div class="col-sm-3" *ngIf="recipes[i]">
                <div class="card">
                    <img class="card-img-top"
                         src="{{downloadUrl}}{{recipes[i].photoPath}}"
                         alt="Card image cap" width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="przepisy/szczegoly/{{recipes[i].id}}"
                                                  routerLinkActive="active">{{recipes[i]?.title}}</a></h5>
                        <p>
                            <fa-icon icon="clock"></fa-icon>
                            {{recipes[i]?.preparationTime.quantity}} min.
                            <fa-icon icon="user"></fa-icon>
                            {{recipes[i]?.portions}} <label *ngIf="recipes[i]?.portions === 1">porcja</label>
                            <label *ngIf="recipes[i]?.portions >= 2 && recipes[i]?.portions < 5">porcje</label>
                            <label *ngIf="recipes[i]?.portions >= 5">porcji</label>
                        </p>
                        <button type="button" class="btn btn-outline-secondary" routerLink="przepisy/szczegoly/{{recipes[i].id}}"
                                routerLinkActive="active">
                            Sprawdź
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" *ngIf="recipes[i+1]">
                <div class="card">
                    <img class="card-img-top"
                         src="{{downloadUrl}}{{recipes[i+1].photoPath}}"
                         alt="Card image cap" width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="przepisy/szczegoly/{{recipes[i+1].id}}"
                                                  routerLinkActive="active">{{recipes[i + 1]?.title}}</a></h5>
                        <p>
                            <fa-icon icon="clock"></fa-icon>
                            {{recipes[i + 1]?.preparationTime.quantity}} min.
                            <fa-icon icon="user"></fa-icon>
                            {{recipes[i + 1]?.portions}} <label *ngIf="recipes[i+1]?.portions === 1">porcja</label>
                            <label *ngIf="recipes[i+1]?.portions >= 2 && recipes[i+1]?.portions < 5">porcje</label>
                            <label *ngIf="recipes[i+1]?.portions >= 5">porcji</label>
                        </p>
                        <button type="button" class="btn btn-outline-secondary" routerLink="przepisy/szczegoly/{{recipes[i+1].id}}"
                                routerLinkActive="active">
                            Sprawdź
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" *ngIf="recipes[i+2]">
                <div class="card">
                    <img class="card-img-top"
                         src="{{downloadUrl}}{{recipes[i+2].photoPath}}"
                         alt="Card image cap" width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="przepisy/szczegoly/{{recipes[i+2].id}}"
                                                  routerLinkActive="active">{{recipes[i + 2]?.title}}</a></h5>
                        <p>
                            <fa-icon icon="clock"></fa-icon>
                            {{recipes[i + 2]?.preparationTime.quantity}} min.
                            <fa-icon icon="user"></fa-icon>
                            {{recipes[i + 2]?.portions}} <label *ngIf="recipes[i+2]?.portions === 1">porcja</label>
                            <label *ngIf="recipes[i+2]?.portions >= 2 && recipes[i+2]?.portions < 5">porcje</label>
                            <label *ngIf="recipes[i+2]?.portions >= 5">porcji</label>
                        </p>
                        <button type="button" class="btn btn-outline-secondary" routerLink="przepisy/szczegoly/{{recipes[i+2].id}}"
                                routerLinkActive="active">
                            Sprawdź
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" *ngIf="recipes[i+3]">
                <div class="card">
                    <img class="card-img-top"
                         src="{{downloadUrl}}{{recipes[i+3].photoPath}}"
                         alt="Card image cap" width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="przepisy/szczegoly/{{recipes[i+3].id}}"
                                                  routerLinkActive="active">{{recipes[i + 3]?.title}}</a></h5>
                        <p>
                            <fa-icon icon="clock"></fa-icon>
                            {{recipes[i + 3]?.preparationTime.quantity}} min.
                            <fa-icon icon="user"></fa-icon>
                            {{recipes[i + 3]?.portions}} <label *ngIf="recipes[i+3]?.portions === 1">porcja</label>
                            <label *ngIf="recipes[i+3]?.portions >= 2 && recipes[i+3]?.portions < 5">porcje</label>
                            <label *ngIf="recipes[i+3]?.portions >= 5">porcji</label>
                        </p>
                        <button type="button" class="btn btn-outline-secondary" routerLink="przepisy/szczegoly/{{recipes[i+3].id}}"
                                routerLinkActive="active">
                            Sprawdź
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="i % 4 == 0" class="row">
            <br>
        </div>

    </div>
</div>
