<div class="card mb-3">
    <div class="card-header">
        Komentarze
        ({{(recipe.comments | filterPrivateComments:account?.login |filterCommentsWithoutReplies | filterCommentsByType:filterType).length}})
        <div class="float-right w-25">
            <select class="custom-select" id="filter" [(ngModel)]="filterType">
                <option value="ALL" selected>Wszystkie komentarze</option>
                <option value="PUBLIC">Publiczne</option>
                <option value="PRIVATE">Prywatne</option>
                <option value="QUESTION">Pytania</option>
                <option value="ADVICE">Porady</option>
                <option value="OPINION">Opinie</option>
            </select>
        </div>
    </div>
    <div class="card-body text-dark">
        <ul class="list-unstyled overflow-auto scroll" *ngIf="recipe.comments.length > 0">
            <li class="media my-4"
                *ngFor="let comment of (recipe.comments | filterPrivateComments:account?.login | filterCommentsWithoutReplies | filterCommentsByType:filterType)">
                <img class="mr-3" src="../../../../content/images/user-image.png"
                     width="25"
                     height="25" alt="User Image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{comment?.userLogin}}
                        <jhi-comment-badge [type]="comment.type"></jhi-comment-badge>
                        <div class="float-right">
                            <div class="align-right mr-3" *jhiHasAnyAuthority="'ROLE_USER'">
                                <button type="button" class="btn btn-outline-secondary" *ngIf="comment.userLogin === account?.login
                                            && comment.description !== 'Komentarz został usunięty przez autora.'"
                                        (click)="remove(comment)">
                                    <fa-icon icon="trash-alt"></fa-icon>
                                    Usuń
                                </button>
                                <button type="button" class="btn btn-outline-secondary"
                                        (click)="replyClicked(comment.id)">
                                    <fa-icon icon="reply"></fa-icon>
                                    Odpowiedz
                                </button>
                            </div>
                        </div>
                    </h5>
                    {{comment?.description}}
                    <div class="align-right mr-3" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <button type="button" class="btn btn-outline-secondary" *ngIf="comment.userLogin !== account?.login
                                            && comment.description !== 'Komentarz został usunięty przez autora.'"
                                (click)="remove(comment)">
                            <fa-icon icon="trash-alt"></fa-icon>
                            Usuń jako administrator
                        </button>
                    </div>
                    <div class="mx-3 mr-3 mt-2" *ngIf="replyCommentId === comment.id">
                        <form>
                            <div class="form-group">
                                <label for="replyTextArea">Dodaj odpowiedź</label>
                                <textarea class="form-control" id="replyTextArea" rows="3"
                                          placeholder="Wpisz treść..." [(ngModel)]="replyText"
                                          [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </form>
                        <div class="input-group">
                            <select class="custom-select" id="replyType" [(ngModel)]="replyType">
                                <option value="PUBLIC" selected>Publiczny</option>
                                <option value="PRIVATE">Prywatny</option>
                                <option value="QUESTION">Pytanie</option>
                                <option value="ADVICE">Porada</option>
                                <option value="OPINION">Opinia</option>
                            </select>
                            <div class="input-group-append ml-3">
                                <button type="button" class="btn btn-outline-secondary" (click)="saveReply()">Dodaj
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mx-3 mr-3 mr-3" *ngIf="comment.replies?.length > 0">
                        <div [id]="'accordion' + comment.id">
                            <div class="card card-new">
                                <div class="card-header card-header-new" [id]="'heading' +comment.id">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                [attr.data-target]="'#collapse'+comment.id"
                                                aria-expanded="false" [attr.aria-controls]="'collapse' + comment.id">
                                            <p *ngIf="comment.replies.length === 1">
                                                <fa-icon icon="comments"></fa-icon>
                                                {{comment.replies.length}} odpowiedź
                                            </p>
                                            <p *ngIf="comment.replies.length > 1">
                                                <fa-icon icon="comments"></fa-icon>
                                                {{comment.replies.length}} odpowiedzi
                                            </p>
                                        </button>
                                    </h5>
                                </div>

                                <div [id]="'collapse'+comment.id" class="collapse"
                                     [attr.aria-labelledby]="'heading' + comment.id"
                                     [attr.data-parent]="'#accordion'+comment.id">
                                    <div class="card-body card-body-new">
                                        <ul class="list-unstyled">
                                            <li class="media my-4"
                                                *ngFor="let reply of comment?.replies | filterPrivateComments:account?.login">
                                                <img class="mr-3" src="../../../../content/images/user-image.png"
                                                     width="25"
                                                     height="25" alt="User Image">
                                                <div class="media-body">
                                                    <h5 class="mt-0 mb-1">{{reply?.userLogin}}
                                                        <jhi-comment-badge [type]="reply.type"></jhi-comment-badge>
                                                        <div class="float-right">
                                                            <div class="align-right mr-3"
                                                                 *jhiHasAnyAuthority="'ROLE_USER'">
                                                                <button type="button" class="btn btn-outline-secondary"
                                                                        *ngIf="reply.userLogin === account?.login
                                            && reply.description !== 'Komentarz został usunięty przez autora.'"
                                                                        (click)="remove(reply)">
                                                                    <fa-icon icon="trash-alt"></fa-icon>
                                                                    Usuń
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </h5>
                                                    {{reply?.description}}
                                                    <div class="align-right mr-3" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                                        <button type="button" class="btn btn-outline-secondary" *ngIf="reply.userLogin !== account?.login
                                            && reply.description !== 'Komentarz został usunięty przez autora.'"
                                                                (click)="remove(reply)">
                                                            <fa-icon icon="trash-alt"></fa-icon>
                                                            Usuń jako administrator
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider class="w-90 my-3"></mat-divider>
                </div>
            </li>
        </ul>
        <div *ngIf="recipe.comments.length === 0">
            <p>
                Nikt jeszcze nie dodał swojego komentarza. <br>
            </p>
            <p *jhiHasAnyAuthority="'ROLE_USER'">
                <b>Dodaj własny, aby rozpocząć dyskusję!</b>
            </p>
            <p *jhiHasNotAnyAuthority="'ROLE_USER'">
                <b>Zaloguj się, aby dodać własny komentarz i rozpocząć dyskusję!</b>
            </p>
        </div>
        <div *jhiHasAnyAuthority="'ROLE_USER'">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Dodaj komentarz</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              placeholder="Wpisz treść..." [(ngModel)]="commentText"
                              [ngModelOptions]="{standalone: true}"></textarea>
                </div>
            </form>
            <div class="input-group">
                <select class="custom-select" id="type" [(ngModel)]="commentType">
                    <option value="PUBLIC" selected>Publiczny</option>
                    <option value="PRIVATE">Prywatny</option>
                    <option value="QUESTION">Pytanie</option>
                    <option value="ADVICE">Porada</option>
                    <option value="OPINION">Opinia</option>
                </select>
                <div class="input-group-append ml-3">
                    <button type="button" class="btn btn-outline-secondary" (click)="addComment()">Dodaj</button>
                </div>
            </div>
        </div>
        <div *jhiHasNotAnyAuthority="'ROLE_USER'">
            <p *ngIf="recipe.comments.length > 0">
                <br>
                <b>Możliwość komentowania dostępna jest tylko dla zalogowanych użytkowników.</b>
            </p>
        </div>
    </div>
</div>
