.scroll {
    height: 350px;
    overflow-y: scroll;
}

.align-right {
    text-align: right;
}

.card-header-new {
    background-color: rgb(0, 0, 0, 0);
    border-bottom: none;
    padding: 0;
}

.card-new {
    border: none;
}

.card-body-new {
    padding: 0;
}

.btn-outline-light {
    color: black;
    border-color: #f8f9fa;
}

.li-new {
    border: 1px black;
}

.w-90 {
    width: 90% !important;
    margin-top: 30px !important;
}
