<h1 mat-dialog-title>Dodaj nowy składnik</h1>
<div mat-dialog-content>
    <p>Nazwa składnika</p>
    <mat-form-field>
        <label>
            <input matInput [(ngModel)]="name">
        </label>
    </mat-form-field>
    <p>Opis</p>
    <mat-form-field>
        <label>
            <input matInput [(ngModel)]="description">
        </label>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button mat-button [mat-dialog-close]="ingredient" (click)="onYesClick()" cdkFocusInitial>Zapisz</button>
</div>
